@charset "UTF-8";

body {
  font-family: 'Josefin Sans', sans-serif; 
  background-size: cover;
   background-image: url('ideas_background.jpeg'
')

/* Custom background image */
  background-position: center;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: left;
}

h1 {
  font-size: 3rem;
  color: #FF69B4; /* Cute pink color */
  margin-top: 50px;
}

p {
  font-size: 1.2rem;
  color: #4B0082; /* A soft purple */
  margin: 20px auto;
  width: 80%;
  line-height: 1.6;
}

