@charset "UTF-8";

body {
  font-family: 'Josefin Sans', sans-serif; 
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #FF69B4;
  margin-top: 50px;
}

p {
  font-size: 1.2rem;
  color: #4B0082;
  margin: 20px auto;
  width: 80%;
  line-height: 1.6;
}

